@import "../../index.scss";
.popup-bg {
  position: absolute;
  z-index: 8887;
  background-color: rgba(0, 0, 0, 0.651);
  top: 0;
  width: 100vw;
  height: 100vh;
}
.unavailable-content {
  font-family: $poppin;
  display: grid;
  position: absolute;
  z-index: 8888;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  place-items: center;
  height: fit-content;
  width: fit-content;
  background-color: $primary-font-color;
  border: 2px solid $primary-bg-color;
  border-radius: 2%;
  padding: 30px 50px;
  text-align: center;
  h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  p {
    margin-top: 3px;
  }
  button {
    margin-top: 10px;
    background-color: $primary-bg-color;
    color: $primary-font-color;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
